/* Your CSS here. */
.outer {
    min-height: 100vh;
    position: relative;
}
.inner {
    width: 90%;
    max-width: 1000px;
    padding: 1em;
    height: auto;
    
    background-color: lightskyblue;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    left: 0;
    right: 0;
    margin: 0 auto;
}
.profile {
    width: 300px;
    
    img {
        width: 150px;
        height: 150px;
    }
}